<nav class="xl:px-6 xl:py-5 px-4 py-3 border-b select-none border-primary-light bg-white justify-between">
    <ul class="flex justify-between items-center">
        <div>
            <li class="flex flex-row items-center gap-4">
                <img src="assets/logo.jpg" height="70" width="70" alt="Logo"/>
                <span class="text-xl font-medium leading-7 tracking-normal  font-Electrolux Sans">
                    {{ 'application.title' | translate }}
                </span>
            </li>
        </div>
    </ul>
</nav>
